.shadow {
  background: rgb(242,242,247);
  box-shadow: 9px 9px 15px rgb(142,146,145);
  padding: 6px;
   margin: 3%;
  display: flex;
  flex-direction: column;
}
.inpt {
  font-size: 15px;
  height: 27px;
  border-color: rgba(186,215,236,255);
  border-style: solid;
  border-width: thick;
  min-width: 100px;
  width: 60%;
}
.hdr {
  display: flex-wrap;
  align-items: center;
}
.bttn {
  background-color: rgba(186,215,236,255);
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  box-shadow: none;
  cursor: pointer;
  font-size: 15px;
  height: 37px;
  border-radius: 1px;
  color: rgba(0,0,0,1);
}
.bordered_div {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  border: 0.5rem outset pink;
  border-width: thick;
  border-style: solid;
  border-color: rgba(186,215,236,255);
  height: 350px;
  overflow-x: auto;
  overflow: auto;

}
.p_border {
  /*align-self: start;*/
  align-self: center;
  margin: 4px;
  padding: 8px;
  font-size: 18px;
  text-align: center;
  height: 19px;
  border-color: rgba(186,215,236,255);
  border-style: solid;
  border-width: thick;
  border-radius: 16px;
}




  